In [1]:
import pandas as pd

In [3]:
data = pd.read_excel('../data/full_dataset_multivariate_gdp_interstRates.xlsx')

In [5]:
data["FiscalYear"] = pd.to_datetime(data["FiscalYear"], format = "%Y")

In [7]:
data.to_excel('../data/full_dataset_multivariate_gdp_interstRates.xlsx', index=False)

In [14]:
data

,ProfId,Broker,FiscalYear,Actuals,BrokerTarget,Interest Rate,Texas GDP
0,16507,"Weatherby, Samuel",2014-01-01,637791.99,500000.0,4.53,1579299500000
1,16507,"Weatherby, Samuel",2015-01-01,1043269.72,600000.0,3.66,1573498400000
2,16507,"Weatherby, Samuel",2016-01-01,576363.95,1633334.0,3.97,1579014900000
3,16507,"Weatherby, Samuel",2017-01-01,683077.75,600000.0,4.20,1673234300000
4,16507,"Weatherby, Samuel",2018-01-01,1662274.72,850000.0,3.95,1809396700000
...,...,...,...,...,...,...,...
692,601849,"Johnson, Russell",2022-01-01,1534149.72,905000.0,3.55,2355959700000
693,601849,"Johnson, Russell",2023-01-01,1066567.17,1125000.0,6.48,2500000000000
694,601851,"Pustmueller, Joel",2021-01-01,281890.65,300000.0,2.65,2051768600000
695,601851,"Pustmueller, Joel",2022-01-01,288382.87,455000.0,3.55,2355959700000
696,601851,"Pustmueller, Joel",2023-01-01,227790.96,565000.0,6.48,2500000000000

In [28]:
ir = data[data['Broker']=='Weatherby, Samuel'].set_index('FiscalYear')['Interest Rate']

In [26]:
gdp  = data[data['Broker']=='Weatherby, Samuel'].set_index('FiscalYear')['Texas GDP']

In [22]:
from darts.timeseries import TimeSeries

In [35]:
ir_series = TimeSeries.from_series(ir)
gdp_series = TimeSeries.from_series(gdp)

In [39]:
df_ir = ir_series.pd_dataframe().rename(columns={'Interest Rate':'Values'})
df_ir['tag'] = 'interest_rate'
df_gdp = gdp_series.pd_dataframe().rename(columns={'Texas GDP':'Values'})
df_gdp['tag'] = 'gdp'
pd.concat([df_ir,df_gdp])

In [61]:
df_gdp.tail(1)

component         Values  tag
FiscalYear
2023-01-01  2.500000e+12  gdp

In [54]:
temp['tag'] = 'predicted'

/tmp/ipykernel_1486/1675793087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['tag'] = 'predicted'

In [56]:
pd.concat([df_ir,temp])

                     Values            tag 2023-01-01 00:00:00
2014-01-01 00:00:00    4.53  interest_rate                 NaN
2015-01-01 00:00:00    3.66  interest_rate                 NaN
2016-01-01 00:00:00    3.97  interest_rate                 NaN
2017-01-01 00:00:00    4.20  interest_rate                 NaN
2018-01-01 00:00:00    3.95  interest_rate                 NaN
2019-01-01 00:00:00    4.51  interest_rate                 NaN
2020-01-01 00:00:00    3.72  interest_rate                 NaN
2021-01-01 00:00:00    2.65  interest_rate                 NaN
2022-01-01 00:00:00    3.55  interest_rate                 NaN
2023-01-01 00:00:00    6.48  interest_rate                 NaN
Values                  NaN            NaN     2500000000000.0
tag                     NaN            NaN           predicted

In [ ]:
plot_df = utils.combine(target_train_ts,fit_df,pred_df).rename(columns={country_name:"New HIV Population"})